<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<title>Thống kê kết quả xổ số</title>
</head>
<body>
	<div th:replace="_layout/header :: header">&nbsp;</div>
	<h4>Thống kê kết quả xổ số</h4>

	<div th:replace="_layout/footer :: footer">&copy; 2016 The Static Templates</div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
		
    });
</script>
</html>